<header class="navbar">
    <div class="navbar__left">
        <a href="index.html" class="navbar-logo">
            <img src="assets/image/logo.png" alt="Pontify.id Logo" class="navbar-logo-icon"> 
            <h5>Pontify.id</h5>
        </a>
    </div>

    <nav class="navbar-center" id="navbarCenter">
        <ul>
            <li><a href="index.html">Beranda</a></li>
            <li><a href="about_us.html">Tentang</a></li>
            <li><a href="services.html">Layanan</a></li>
            <li><a href="harga.html">Harga</a></li>
        </ul>
        <a href="contact.html" class="btn btn--contact mobile-only">Hubungi Kami</a>
    </nav>

    <div class="navbar__right">
        <a href="contact.html" class="btn btn--contact desktop-only">Hubungi Kami</a>
        
        <button class="navbar-toggler" id="menuToggler" aria-label="Toggle navigation menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
</header>