* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #5B5BF5;
    --secondary-color: #A0A0FF;
    --text-dark: #2c3e50;
    --text-light: #6c757d;
    --bg-light: #f4f7f9;
    --bg-gray: #e9eff3;
    --shadow-light: 0 4px 15px rgba(0, 0, 0, 0.05);
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    overflow-x: hidden;
    background-color: var(--bg-light);
}

/* ANIMATION */
@keyframes fadeInSlideRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInSlideLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}